header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid grey;
}

main {
  margin-top: 69px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif;
  line-height: 1.6;
}

.logo {
  color: black;
  background-color: white;
  padding: 10px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

body.scrolling .logo span,
body.scrolling .logo strong {
  display: none; !important;
}

.logo span {
  transition: margin-left 500ms;
}

.logo strong {
  display: none;
  position: absolute;
}

.logo i {
  margin-right: 10px;
}

.banner {
  background: url("./images/banner.jpg");
  background-size: 200%;
}


.banner h1 {
  margin: 0;
  padding: 50px 20px;
  min-height: 400px;
  font-size: 46px;
  color: white;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service i {
  font-size: 50px;
}

.service {
  margin-bottom: 20px;


}

.block {
  margin-bottom: 20px;
  padding: 0 10px;
}

.block.primary {
  background-color: teal;
  color: white;
  padding: 20px 20px;
}

.block.primary h2 {
  margin-top: 0px;
}

form input[type="email"],
form textarea {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 20px;
}

form input[type="email"]:focus,
form textarea:focus {
  border: 1px solid teal;
  outline: none;
  background: lightblue;
}

label {
  display: block;
  margin-bottom: 5px;
}

button {
  color: white;
  background-color: teal;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: lightblue;
}

.actions {
  display: flex;
  justify-content: center;
}

.inner-wrap {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

@media (min-width: 768px) {
  .banner {
    min-height: 500px;
    background-size: 150%;
    }

  .banner h1 {
    margin-left: 40px;
  }

  .service-list {
    display: flex;
  }

  .block-services {
    min-height: 325px;
  }

  .service {
    width: 33.33%;
    box-sizing: border-box;
    padding: 0 20px;
    position: relative;
    bottom: 0;
    transition: bottom 400ms;
  }

  .service:hover {
    bottom: 20px;
  }

  .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-us p {
    max-width: 500px;
    text-align: center;
  }

  .contact form {
    max-width: 400px;
    margin: auto;
  }
}

@media (min-width: 1024px) {

    .banner {
     min-height: 600px;
     background-size: cover;
     background-position-y: -200px;
    }

    .banner h1 {
      font-size: 72px;
    }


}